.button-primary{
    background:$my-orange;
    border-radius:5px;
    color:white;
    font-size:24px;
    border:none;
}
button{
    outline: none !important;
}
.button-primary-welcome{
    margin-top: 2%;
    padding: 10px;
    height: 65px;
    min-width: 210px;
}
.button-primary:hover{
    background: $my-orange-darked;
}
.orange-text{
    color:$my-orange;
}
.orange{
    background: $my-orange;
}
.mt-05{
    margin-top:0.15rem !important;
}
.text-gray{
    color:gray;
}
.text-black{
    color:black;
}
.text-light-gray{
    color:lightgray;
}
.invalid-feedback{
    margin-left: 10px;
    margin-bottom: -5px;
}
main{
    min-width:400px;
}
#app{
    min-height: 935px;
    background: white;
    min-width: 400px;
}
.border-link{
    border-radius: 5px;
    border: 1px solid gray;
    color:black;
}
.border-link:hover{
    text-decoration: none;
    border: 1px solid black;
    color:black;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.material-icons.md-14{
 font-size: 14px;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.b-none{
    border:none;
}

.pointer:hover{
    cursor:pointer;
}
.br-50{
    border-radius: 50%;
}
