@mixin ellipsis($lines){
    text-overflow:ellipsis;
    -webkit-line-clamp: $lines;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.article-header{
    font-weight: 600;
    font-size: 22px;
    @include ellipsis(2);
}

.article-description{
    font-weight: 400;
    font-size: 13px;
    color:gray;
    @include ellipsis(2);
}

.article-author{
    font-size: 14px;
    line-height:20px;
    color:black;
}
.article-author:hover{
    color:black;
}
.article-date{
    font-weight: 400;
    font-size: 12px;
    color:gray;
}
.ar-small-header{
    font-weight: 600;
    line-height: 15px;
    max-height: 32px;
    font-size:14px;
    max-width: 240px;
    @include ellipsis(2);
}
.ar-small-description{
    font-weight: 400;
    font-size: 12px;
    color:gray;
    margin-bottom: 0;
    @include ellipsis(1);
}
.ar-small-author{
    font-size: 12px;
    line-height:20px;
    max-width: 240px;
    color:black;
}
.ar-small-author:hover{
    color:black;
}
.featured-link{
    color:$my-orange;
}
.featured-link:hover{
    color:$my-orange-darked;
    text-decoration: none;
}
.arrow-m{
    margin-top: 0.7rem;
}
.ar-middle-tag{
    text-transform: uppercase;
    color:gray;
    font-weight: 400;
    &:hover{
        color:gray;
    }
}
.ar-middle-header{
    font-weight:600;
    font-size:17px;
    max-height: 64px;
    @include ellipsis(2);
}
.ar-middle-description{
    color:gray;
    font-size:14px;
    max-height: 40px;
    line-height: 1.2;
    @include ellipsis(2);
}
.ar-middle-author{
    font-size: 12px;
    overflow: hidden;
    max-height: 20px;
    color:black;
}
.ar-middle-author:hover{
    color:black;
}
.ar-link{
    color:black;
    &:hover{
        color:black;
        text-decoration: none;
    }
}

.height-reg{
    height:160px
}
.blink{
    max-width: 300px;
}
@media (min-width: 576px) {
    .height-reg{
        height:150px
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
