.def-text{
    font-family: "Nunito", sans-serif;
    width:70%;
    outline: none;
    border:none;
}
#idea-title{
    font-size: 26px;
    min-height: 30px;
}
#idea-body{
    font-size: 18px;
}
.publish-button{
    font-size:17px;
}

