.pop-container{
    width: 180px;
    //border: 2px solid black;
}
.pop-link{
    color:gray;
}
.pop-link:hover{
    text-decoration:none;
    color:gray;
}
.pop-link-main{
    color:black;
    font-size: 14px;
}
.pop-link-main:hover{
    text-decoration:none;
    color:gray;
}
