.welcome-big-greeting{
    font-size: 56px;
    margin-top: 8%;
}
.welcome-small-greeting{
    font-size: 28px;
    margin-top: 2%;
}
.welcome-announcement{
    margin-top: 2%;
    font-size: 18px;
}
.welcome-panel{
    padding-left: 20%;
    padding-right: 20%;
}
.welcome-panel-text{
    font-size: 16px;
    margin-top: 8px;
    margin-left: 20px;
}
.welcome-panel-bindings{
    margin-top: 8%;
}
